/* Custom */
#container {
	text-align: center;
}

#text {
	display: inline-block;
	vertical-align: middle;
	color: white;
	letter-spacing: 2px;
  font-size: 2.5em;
  min-height: 1.1em;
}

#cursor {
	display: inline-block;
	/* vertical-align: middle; */
	width: 3px;
	height: 40px;
	background-color: #000 !important;
	animation: blink .75s step-end infinite;
}

hr {
  color: #fff;
  border-width: 3px;
  border-color: #fff;
}

li {
  color: #000 !important;
  font-weight: 300;
  margin-bottom: 1em;
}
@keyframes blink {
	from, to {
		background-color: transparent
	}
	50% {
		background-color: white;
	}
}

.iphone {
  display: inline-block;
  margin: 30px;
  background-color: #f8f8f8;
  border: 1px solid #c0c0c0;
  padding: 0 10px 0 10px;
  border-radius: 25px;
  max-width: 80% !important;
}

.iphone-screenshot {
  max-width: 100%;
  border: 1px solid #aaa;
}

.iphone-small-round-top {
  margin: 10px auto;
  width: 5px;
  height: 5px;
  background-color: #c0c0c0;
  border-radius: 50%;
}

.iphone-round-top-left {
  float: left;
  margin-left: 65px;
  margin-top: -2px;
  width: 9px;
  height: 9px;
  background-color: #c0c0c0;
  border-radius: 50%;
}

.iphone-speaker {
  margin: 15px auto;
  margin-top: 10px;
  width: 30px;
  height: 5px;
  background-color: #c0c0c0;
  border-radius: 3px;
}

.iphone-button {
  border-radius: 50%;
  margin: 10px auto;
  width: 30px;
  height: 30px;
  border: 2px solid #c0c0c0;
  background: none !important;
}

.site-section h1 {
  z-index: 1 !important;
}

.iphone-wrap .logo-style {
	overflow: hidden;
	left: 0;
	border-radius: 30px;
	border-color: none;
	width: 300px;
}


@media only screen and (max-width: 600px) {
	#text {
		font-size: 1.5em;
	}

	#cursor {
		display: inline-block;
		/* vertical-align: middle; */
		width: 3px;
		height: 30px;
		background-color: #000 !important;
		animation: blink .75s step-end infinite;
	}
	#slug {
		font-size: 1em;
	}
  #features {
		margin-top: 2em;
	}

	.site-section{
		text-align: center;
		margin-bottom: 0px;
		padding-bottom: 0px;
		padding-top: 60px;
	}
	.iphone-wrap .phone-2,
	.iphone-wrap .phone-3,
	.iphone-wrap .phone-4{
		visibility: hidden;
		height: 0px;
	}


}
